@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --light: #fae3e1;
  --white: #fffcfa;
  --lighter: #f0fac8;
  --mid: #918b97;
  --dk-mid: #7a6f6e;
  --effect: #f48f4c;
  --dark: #3b3535;
}
body {
  font-family: 'Poppins', Arial, sans-serif;
  color: var(--effect); 
  background-color: var(--light); 
text-align: center;}
button{
  background-color: var(--dark);
  color: var(--mid);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 5px;
}
.card-grid{
margin-top: 40px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 20px;
}
.front, .back{
  width:150px 

}

