@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Port+Lligat+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --light: #fae3e1;
  --white: #fffcfa;
  --lighter: #f0fac8;
  --mid: #918b97;
  --dk-mid: #7a6f6e;
  --effect: #f48f4c;
  --dark: #3b3535;
}
body {
  font-family: 'Poppins', Georgia, serif;
  color: var(--effect); 
  background-color: var(--light); 
text-align: center;
height: 100vh}
.App{
  padding: 10px;
}
h1{
  font-family: 'Port Lligat Slab', Georgia, serif;
  margin-bottom: 10px;
}
button{
  background-color: var(--dark);
  border: 2px solid var(--dark);
  color: var(--mid);
  font-weight: bold;
  font-size: 1rem;
  padding: 5px 15px;
  border-radius: 5px;
}
button:hover{
  color: var(--dark); 
  background-color: var(--light);

}
.card-grid{
margin: 40px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 20px;
}
.front, .back{
  width:150px 

}

